


  <app-animation></app-animation>

  <div class="page dashboard-page">
    <div class="container">
      <div class="header">
        <h3 class="text-center pt-5 fw-bold">Welcome to mShare</h3>
      </div>
      <div class="form-wrapper">
        <form class="row g-3" #userForm="ngForm" (ngSubmit)="Search(userForm.value)">
          <div class="col">
            <label for="Username" class="visually-hidden">Username</label>
          <input
              type="text"
              class="form-control"
              id="Username"
              name="username"
              ngModel
              autocomplete="off"
              placeholder="Username"
              [(ngModel)]="InputBoxValue"  (keyup)="autocomplete($event)" 
            >  
            <ul class="list-group hide " id="ulautocomplete">
              <li *ngFor="let options of options"  class="list-group-item" (click)="selectedname(options.name)" > {{options.name}}</li>
              
                  </ul>
             

            </div>
                 <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3"  >Search</button>
            </div>
            
            <div class="container">
              <label style="padding-left: 450px; padding-right: 10px;">Add New User</label>
              <button type="submit" class="btn btn-primary mb-3"><a routerLink="register" style="color: white;">Add</a> </button>
            </div>
       </form>
            
         
<!-- show  only searched user -->

        <div class="container " >
          <ul class="list-group list-group-flush mt-5">
            <div class="container" style="padding: 100px;">
              <table class="table table-striped" style="margin-left:40px;;">
                <thead>
               
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Father name</th>
                    <th scope="col">Phone No.</th>
                    <th scope="col">Total Shares</th>
                  </tr>
                </thead>
          
                <p >0 result found</p>
                <tbody id="tbody">

                

                  <tr *ngFor="let userdetail of userdetail">
                       
                    <td>{{userdetail.id}}</td>
                    <td><a routerLink="user" [state]="{ data: userdetail.id}" > {{userdetail.name}}</a></td>
                    <td>{{userdetail.father_name}}</td>
                    <td>{{userdetail.mobile_number}}</td>
                    <td>{{userdetail.total_shares}}</td>
                  </tr> 
                </tbody>
               
              </table> 
                
            </div>
          </ul>
       </div>        
              
       
            </div>
          </div>
        </div>  
              
       
      
