@import "../../lib/bs5/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

$font: 'Poppins',
sans-serif;

body {
    font-family: $font;
}

#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1f1f1f;
    z-index: 100000;

    .centrize {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
        position: relative;

        .v-center {
            display: table-cell;
            vertical-align: middle;
        }

        #mask {
            width: 200px;
            height: 200px;
            line-height: 200px;
            margin: 0 auto;
            text-align: center;

            svg {
                width: 64px;
                height: 76px;

                .preloader-path {
                    stroke-linejoin: round;
                    fill: none;
                    stroke: #fff;
                    stroke-width: 1;
                    stroke-dasharray: 70 32;
                    -webkit-animation: preloader 1s infinite ease;
                    animation: preloader 1s infinite ease;
                }
            }
        }

    }
}

@keyframes preloader {
    from {
        stroke-width: 0;
        stroke-dashoffset: 0
    }

    to {
        stroke-width: 1;
        stroke-dashoffset: 102px
    }
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding: 0.375rem 1rem;
}

.page {
    min-height: 100vh;
    // background-color: var(--bs-light);
}

.login-page {

    .form-wrapper {
        padding: 100px 0;
        max-width: 300px;
        margin: 0 auto;

        .title {
            margin-bottom: 1.5rem;
        }

        .has-error {
            .form-control {
                border-color: var(--bs-danger);
            }
        }
    }
}

.dashboard-page {
    .form-wrapper {
        padding: 100px 0;
        max-width: 500px;
        margin: 0 auto;
    }
}
.user-page{
    
    .tab-content{
        margin-top: 2rem;
    }
}