<!-- <div id="loader">
    <div class="centrize">
      <div class="v-center">
        <div id="mask">
          <svg class="preloader-icon" width="34" height="38" viewbox="0 0 34 38">
            <path class="preloader-path" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div> -->
  <app-animation></app-animation>
  <div class="page login-page">
    <div class="header">
        <div class="container">
            <h3 class="text-center pt-5 fw-bold">Welcome to mShare</h3>                
        </div>
    </div>
    <form #userForm="ngForm" (ngSubmit)="Reset(userForm.value)">
    <div class="form-wrapper">
        <div class="title">
            <h2 class="">Reset Password</h2>
            <p><small>Enter details here to reset your password</small></p>
        </div>
        <div class="form-content">
            <div class="form-group">
                <span class="form-control-wrap">
                    <input type="text" name="usermobile_number" id="" required #mobile_number="ngModel" class="form-control" ngModel placeholder="Mobile Number">
                </span>
                <span 
                  *ngIf="mobile_number.invalid && mobile_number.touched"
                  class="error" style="color:rgb(149, 61, 61);">Mobile number can't be empty</span>
            </div>
            <div class="form-group ">
                <span class="form-control-wrap">
                    <input type="text" name="OTP" id="" #OTP="ngModel" class="form-control" ngModel placeholder="OTP" required>
                </span>
                <span 
                  *ngIf="OTP.invalid && OTP.touched"
                  class="error" style="color:rgb(149, 61, 61);">OTP can't be empty</span>
            </div>
            <div class="form-group ">
                <span class="form-control-wrap">
                    <input type="password" name="password" id="" required  #NEWPASSWORD="ngModel" class="form-control"  ngModel placeholder="New Password">
                </span>
                <span 
                  *ngIf="NEWPASSWORD.invalid && NEWPASSWORD.touched"
                  class="error" style="color: rgb(149, 61, 61);">password can't be empty</span><br>
            </div>
            <div class="form-group ">
                <span class="form-control-wrap">
                    <input type="password" name="confirm_password" id="" #CONFIRMPASSWORD="ngModel" class="form-control"  required  ngModel placeholder="Confirm New Password">
                </span>
                <span 
                  *ngIf="CONFIRMPASSWORD.invalid && CONFIRMPASSWORD.touched"
                  class="error" style="color:rgb(149, 61, 61);">confirm password can't be empty</span><br>
                  <span style="color:rgb(149, 61, 61);">{{warning}}</span>
            </div> 

            <span style="color:rgb(149, 61, 61);">{{error}}</span>
            <div class="form-group">
                <span class="form-control-wrap d-grid">
                    <button id="" class="btn btn-primary" type="submit"> Reset Password</button>
                </span>
            </div>
            <div class="text-center"><small><a routerLink="" class="btn btn-link btn-sm">Login</a></small></div>
        </div>
    </div>
    </form>
  </div>
  
